.greeting {
    text-align: center;
}
#formulario {
    display: flex;
    padding: 10px;
    border: #000000 solid 5px;
    margin: 20px;
    justify-content: space-around;
    flex-direction: row;

}
.container {
    display: block;
    align-items: stretch;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: #000000 5px solid;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.column {
    border: #000000 dashed 2px;
    flex: 1;
    padding:10px;
    flex-grow: 4;
}
@media (max-width: 650px) {
    .column {
        flex: 100%;
    }
}
body {
    background-color:#ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


h1 {
    font-size: 30px;
    text-align: center;
}
p {
    color: rgb(0, 0, 0);
    font-size: 20px;
}
#sub1 {
    color: rgb(0, 0, 0);
}
.sub2 {
    color: rgb(0, 0, 0);
}

.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.brand {
    display: flex;
    align-items: center;
}
li>a {
    padding: 8px 24px;
} 
li {
    list-style-type: none;
}
a {
    color: white;
    text-decoration:none;
}  
.nav-links {
    display: flex;
    align-items: center;
}
.button-menu-toggle {
    display: none;
}
@media (max-width: 768px) {
    .column {
      flex: 100%;
    }
    .nav-links {
      display: none;
    }
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }
  }
  .imagenes-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

  }
  .imagenes-about div {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    padding: 70px;
  }
  footer {
    display: flex;
    justify-content: center;
  }